 *{
    margin: 0;
    padding: 0;
 }
body{
    font-family: 'Merriweather', serif;

    font-family: 'Inter', sans-serif;
 }
.banner-section p{
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 16px;
 }
.banner-section h1{
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.banner-section{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}
.discount-section h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700; 
    margin-top: 120px;
}
.discount-section p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.discount-section h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
}
.image-1{
    width: 802.9px;
    height: 500px;
    margin: 0 530px;
    margin-top: 45px;
}
.welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Images/Vectorrr.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    margin: 110px auto;
}
.second-section {
    background-image: url(./images/Vectorrr.png);
    width: 1320px;
    height: 620px;
    background-repeat: no-repeat;
    margin: 60px 300px;
}
.welcome-text{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

}
.head {
    width: 630px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 07px;
}
.paragraph{
    width: 660px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}
.btn-1{
    background: none;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 45px;
    padding-left: 25px;
}
.joining-section{
    text-align: center;
    margin-top: 120px;
}
.joining-text{
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.btn-2{
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: white;
    margin-top: 64px;
}
.gradiant-3{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin: 50px auto; 
}
.waiting-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 250px;
}
.offer-section h3{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-section h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 10px;
}
.offer-section p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
}
.image-3 img{
    width: 320px;
    height: 320px;
}
.image-3{
    display: flex;
    justify-content: center;
    margin: right;
}
.radius{
    width: 300px;
    height: 300px;
    border-radius: 463px;
    border: 10px solid #F00;
    padding: 40px;
    margin-bottom: 40px;
}
.year-details h1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.year-details p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;
}
.year-details img{
    width: 140px;
    height: 140px;
    margin-top: 20px;
}

.holidays{
    text-align: center;
    margin-top: 140px;
}
.span-1{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.gift-section{
    margin-top: 140px;
    margin-bottom: -620px;
}
.holidays h3{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}
.holidays h1{
    text-align: center;
    color: #070211;
    font-family: Merriweather;
    font-size: 75px;
    font-weight: 900;
    padding-bottom: 30px;
}
.holidays p{
    width: 1068px;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 60px;
    padding-left: 400px;
}
.image-4{
    position: absolute;
    width: 40%;
    left: 250px;
}
.image-5{
    width: 1335px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    padding-left: 285px;
    padding-top: 350px;
}
.image-6{
    position: relative;
    width: 409px;
    left: 1211px;
    top: -637px;
    height: 403px;
    bottom: 636px; 
} 
.image-7{
    position: relative;
    top: -995px;
    left:1100px;
}
.portfolio-section h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-section h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}
.portfolio-section p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-top: 15px;
}
.gifts{
    padding-left: 285px;
}
.portfolio img{
    height: 390px;
    width: 410px;
    margin: 20px 20px;
    border-radius: 16px;
    box-shadow: 20px 20px 20px;
}
.portfolio{
    padding-left: 270px;
    margin-top: 45px;
}
.portfolio:hover img{
    transform: scale(1.1);   
}
.subscribe-section{
    text-align: center;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 140px auto;
}
.image-8{
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    padding-top: 80px;
}
.subscribe-section h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.subscribe-section p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
}
.input{
    width: 648px;
    height: 72px;
    border-right: 50px;
    border-radius: 40px 0 0 40px;
    border: none; 
    outline: none;
    margin-top: 70px;
}
.btn-3{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: white;
    margin-top: 70px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-family: Inter;
    padding-left: 20px;
}
.footer{
    background-color:#070211;
    width: 1900px;
    height: 609px;
}
.adress-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;
}
.call{
    display: flex;
    align-items: center;
    gap: 10px;
}
.image-9{
    width: 24px;
    height: 24px;
}
.website{
    display: flex;
    align-items: center;
    gap: 10px;
}
hr{
    width: 1320px;
    height: 1px;
    margin: 50px auto;
}
.contact-section{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.image-10{
    width: 64px;
    height: 64px;
}
.unsubscribe-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}